extends layout

mixin nav(nav) 
  ul
    for item, key in nav
      if item.url && item.label
        li
          a(href=item.url)=item.label
      else 
        +nav(item)

block content

  if navigation
    nav
      +nav(navigation)        
          
  h1= content.title
  p= content.content
  